

.introduction__text {
    padding-bottom: 30vh;
    text-align: center;
    user-select: none;

    color: var(--light-main);
    margin-top: 2vw;
  
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.5vmin;
  
    font-family: "monolisa";
  
    width: 80vw;
}