
#open-header
{
  position: fixed ;
  z-index: 2;
  
  transition: 1s;
  width: 5vw  ;
cursor: pointer;

  left: 2vw;
}

header
{ 
  position: fixed;
  overflow: hidden;
  white-space: nowrap;


  transition: 3s;
 
  border-color: var(--visible_gray);
  border-width: 1vh;

  width: 2.5vw;
  height: 100vh;
  
  z-index: 2;
  top: 0;
  background-color: #0c721a77;
  text-align: left;
  transition: 0.7s;
  filter: brightness(74%);
}


 



#header {
  overflow-x: hidden;

}

#header:not(.opened_header):hover {
  width: 24vw !important;

  background-color: #234219;

}


.closed_header {
  width: 2.2vw;
}

.opened_header {
  background-color: #27441d;
  width: 24vw !important;
 
}

@media (max-width: 1000px) {
  
  header {

    white-space:normal;
  }

  .opened_header {
    width: 30vw;
  }
} 

header:hover
{

  filter: brightness(90%);

}

header:active
{
  width: 12vw; 
}



nav {
  background-color: #363636;
  height: 100vh;
  margin-top: 2vh;
  padding-top: 1vh; 
  width: 100vw;
  
  margin-left: 1.3vw;
}

*
.header-file::before {
  content: "";
  background:url('../res/header_icons/file_icon.png');
  background-size:contain;
  background-repeat: no-repeat;
  width: 2.4vmax;
  height: 2.4vmax; 
  position: absolute;
  
  margin-left: -3vmax;
}


.header-folder::before {
  content: "";
  background:url('../res/header_icons/folder_icon.png');
  background-size:contain;
  background-repeat: no-repeat;
  width: 2.4vmax;
  height: 2.4vmax; 
  position: absolute;
  
  margin-left: -3vmax;

}


.header-profile::before {
  content: "";
  background:url('../res/header_icons/profile_icon.png');
  background-size:contain;
  background-repeat: no-repeat;
  width: 2.4vmax;
  height: 2.4vmax; 
  position: absolute;
  
  margin-left: -3vmax;

}

.header-contact::before {
  content: "";
  background:url('../res/header_icons/contact_icon.png');
  background-size:contain;
  background-repeat: no-repeat;
  width: 2.4vmax;
  height: 2.4vmax; 
  position: absolute;
  
  margin-left: -3vmax;

}


.header-button:hover
{  
  color: #00ff22;
 
}

.opened_file {

  padding-top: 0.25vh;
  font-size: 1vmax;
 

  margin-bottom: 2vh;
}

.closed_file {
  font-size: 0 !important; 
  padding-top: 0;

  
  padding-bottom: 0 !important;

  opacity: 0;
}

.header-button
{
 
  transition: 0.45s;

  text-transform:capitalize;

  display: block;
text-align: left;
padding-right:0.1vw;
  font-size: 1.7vmax;
  color: #83e490;
 
  padding-left: 4vw; 
  padding-bottom: 2vh;

  text-decoration: none;
}


.folder-container {
  border-left: 2px #7ad185 solid;
  z-index: -1;
 
  transition: 1.3s;

  padding-bottom: 0;
}

.closed-folder {
   border-left: 0 !important;
  
   padding: 0 !important;
   margin: 0 !important; 
   height: 0 !important;
}

#projects-buttons { 
 margin-left: 2vw;

 margin-top: -1.5vh;
 margin-bottom: 3vh;
 padding-top: 3vh;
}



#root-folder {
  
  border-left: 2px #7ad185 solid;

  margin: 1.3vw;



}