

 
 


.hidden-switch {
    font-size: 0 !important;
    width: 0 !important;
    height: 0 !important; 
    overflow: hidden !important; 
}

.language-choice-img {
    width: 2.5vmax;
}


.language-choice-title {
    font-size: 2.5vmax;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding-top: 10vh;
    text-align: center;  
}

#language-switch {
    width: 60vw;
    height: 40vh;
    text-align: left;
    padding-left: 2vw;
    padding-top: 2vh;
    margin: auto;
    font-size: 4vmin;
    background-color: rgb(41, 36, 36);
    border: 2px solid #00000088;
    color: var(--code);


    transition: 1s;
}

.switch-case {
    padding-top: 1vh;
    margin-left: 4vw;
}

.switch-result {
    margin-left: 10vw;
}



#language-choice-select {
    background-color: rgb(36, 35, 35);
    width: 20vw;
    margin-left: 40vw;
} 


.selected-case {
     

    animation: selected-case 2s;
}
 

@keyframes selected-case {

 


    20% {
        color: aqua;
    }

    50% {
        color: rgb(0, 255, 55) !important;
        font-size: 5vmin;
    }

    70% {
        color: rgb(0, 255, 55) !important;
    }

    80% {
        color: aqua;
    }


    100% {
        color: rgb(0, 255, 55) !important;
        font-size: 4vmin;
    }
}
 

 
  
