
.projects
{  
 
}

.projects-box {

  display: flex; 
  justify-content: center;
}

.projects-selection-box
{
  
  margin-left: 2vw;

  display: flex;

  
  align-items: flex-start;



  width: calc(var(--project-width) * 5.5);

  overflow-x: scroll; 
  overflow-y: hidden;
  text-align: center;
 
   

  padding: 0;
 

  scroll-behavior: smooth;
 
} 



 
.project
{  
  height: fit-content;
  width: var(--project-width );
  display: row;

  grid-template-areas: "index" "image" "language";
  grid-template-columns: 10% 50% 40%;

  margin-right: 1vw;
  margin-bottom: 1vh;
 
}
  


 

.project-index
{ 
 
  font-size: 3vmin;
z-index: 3;
  color: var(--light-secundary);

  user-select: none;

  grid-area: index;
}

.project-info {

  user-select: none;
  
  color: var(--light-main);
    
  overflow-wrap: break-word;
  
  text-transform: capitalize;
  font-size: 3vmin; 


  grid-area: language;
}

 

 
.project-selected img
{
  animation:  bright-switch 3.4s;
  
}


@keyframes bright-switch
{
  50%
  {
    filter: brightness(100%);
  }

  100%
  {
    filter: brightness(50%);
  }
}


.project-bracket
{  
  font-size: 15vw;
 
  color: var(--light-main);
} 

.project:hover .project-index, 
.project:hover .project-info
{
 font-size: 0;
}



.project_image
{
 
  border-radius: 1em; 
  height: var(--project-width);
  width: var(--project-width);
  filter: brightness(50%);

  grid-area: image;
}

.original_image:hover
{
  filter: brightness(100%);
 
  padding-top: 0;
  margin-top: 0;
}
 