
.projects
{ 
  /*margin-left: var(--projects-offset);
*/
  clear: both;
}


.projects-box
{
  
  margin-left: 2vw;

  display: inline-block;
  width: calc(var(--project-width) * 5.5);

  overflow-x: scroll;
  white-space:nowrap; 
  overflow-y: hidden;
  text-align: center;
  
  height: calc(var(--project-width) * 2.1);

  padding: 0;

    padding-right: 10vw;

  scroll-behavior: smooth;
 
} 



 
.project
{
  display: inline;
  position: relative;
  white-space:nowrap;  
  margin-top: 2vh; 
  height: 100%;
  width: var(--project-width );
}
 

.project:hover {
    margin-left: 0;
}


.project-comma {
  
  font-size: 5vmin;

  color: var(--light-main);
 
  display: inline;
}

.project-index
{
  display:inline;
  position: relative;

  margin: 0;
  padding: 0;
  left: calc(var(--project-width) / 1.8);


  top: calc(var(--project-width) *-1);
  font-size: 3vmin;
z-index: 3;
  color: var(--light-secundary);

  user-select: none;

}

.project-info {

  user-select: none;

  display: inline;  
  
  top: 2vh;
  left: 30%;
  position: absolute;
  color: var(--light-main);


  font-size: 2.8vmin;
  text-transform: capitalize;
}

 
.project-selected img
{
  animation:  bright-switch 2.4s;
  
}


@keyframes bright-switch
{
  50%
  {
    filter: brightness(100%);
  }

  100%
  {
    filter: brightness(50%);
  }
}


.project-bracket
{
  display: inline;
  font-size: 20vw;

  position: relative;
  top: calc((var(--project-width) * -1)  );
  color: var(--light-main);
} 

.project:hover .project-index, 
.project:hover .project-info
{
 font-size: 0;
}



.project_image
{

  display: inline;
  border-radius: 1em;
  margin-top: 2vh;
  height: var(--project-width);
  width: var(--project-width);
  filter: brightness(50%);
}

.original_image:hover
{
  filter: brightness(100%);

  width: calc(var(--project-width) * 1.55);
  height: calc(var(--project-width) * 1.55);
  padding-top: 0;
  margin-top: 0;
}
 