
.system-configurations {
    margin: 0;
    z-index: 10;
    position: fixed;

    text-align: center;
    color: rgb(251, 255, 242);

    text-transform: lowercase;
    background-color: rgb(39, 44, 40);
    width: 100vw;
    height: 100vh;
    transition: 0s !important;
    
}
 

.closed-configurations {
    animation: close 2s forwards;
}


@keyframes close {
    
    100% {
        margin-left: -100vw;
    }
}

@keyframes open {
   

    0% {
        overflow: hidden;
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.closed-configurations-input {
    animation: close-input 4s forwards;
    
}


@keyframes close-input {
    
    
    100% {
        margin-left: -150vw; 
    
    }
}



.system-configurations-title {
    margin: auto;

    color: rgb(192, 238, 223);

    margin-top: 2vh;
    font-size: 4vw;


}


.configuration-title {
    font-size: 2vmax;
    margin-top: 0.8vh;
    margin-bottom: 1vh;
    padding-top: 6vh;
    text-align: center;  
}


#configuration-form input:hover {

    border: 1px solid rgb(92, 91, 91);
    border-right: 0;
    border-left: 0;
}

.configuration-input {
    display: block;
    position: relative;  
    background-color: var(--classsy-black);
 
    border: 1px solid rgb(165, 163, 163);
    border-right: 0;
    border-left: 0;
    color: var(--pretty-green);
    font-size: 3vmax;
 
}


.configuration-input-container {
     
    background-color: rgba(0, 0, 0, 0.171);
}

.system-configurations-submit { 
    width: 30vw; 

    position: absolute;
    margin: 0;
    left: 35vw;
    top: 80vh;
}   


.configuration-select {
    margin-left: 40vw;
    width: 20vw;

    margin-top: 1%;
    background-color: rgb(36, 35, 35);
}

#configuration-form-save-select-container {
    background-color: rgba(0, 0, 0, 0.171);
    text-align: center;
}
 
#configuration-form-save-select {

    font-size: 2vmax;

}
