


.techs
{
  
  padding: 0;
  margin: 0;
  padding-top: 2vh;
  
   
 width: 100vw;

 
 
}


.techs-box {

  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;


}
     
.tech-list {
   
   
  text-align: center;


}

.off_tech {
  font-size: 0 !important; 
}

.off-image {
  opacity: 0.1; 
}

.tech-name {

  font-family: var(--default-font);
  background-color: rgb(37, 37, 37);
  font-size: 4vw;
  color: var(--pretty-green);

  font-weight: bold;
 
  width: 26vw; 
  text-align: center;

  padding-top: auto;
  padding-bottom: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  user-select: none;
  margin-bottom: 1vh;

  text-transform: capitalize;
}


.tech-name:hover {
 
  color: rgb(94, 247, 63);
}

.tech-images
{    
  text-align: center; 

}

.tech-logo
{
  width: 9vw;
  margin-right: 1vw;
  display: inline;
}

