


.techs
{
  
  padding: 0;
  margin: 0;
  padding-top: 2vh;
  
  
  display: block;
 width: 100vw;
}

     
.tech-list {
  
  float: left;

  margin-left: 20%; 
}

.off_tech {
  font-size: 0 !important; 
}

.off-image {
  opacity: 0.1; 
}

.tech-name {

  font-family: var(--default-font);
  background-color: rgb(37, 37, 37);
  font-size: 3.5vmax;
  color: var(--pretty-green);

  font-weight: bold;
 
  width: 23vw;
  height: 7vh;
  text-align: center;

  padding-top: auto;
  padding-bottom: auto;
  user-select: none;
  margin-bottom: 5vh;

  text-transform: capitalize;
}


.tech-name:hover {
 
  color: rgb(94, 247, 63);
}

.tech-images
{   
  display: block;
  text-align: center;
  width: 28vw; 
  float: right;
  margin-right: 20vw;

}

.tech-logo
{
  width: 10vw;
  margin-right: 1vw;
  display: inline;
}

