


.techs
{
  
  padding: 0;
  margin: 0;
  padding-top: 2vh;
  
  
  display: block;
 width: 100vw;
}

     

.tech-images
{  
  width: 100vw;
  margin-top: 2vh; 
  margin: auto;
  padding-top: 2vh;
  display: block;
  text-align: center;
}

.tech-logo
{
  width: 20vmin;
  padding-top: 1vh;
  margin-right: 1vw;
  display: inline;
}

