


.contacts__form-box
{ 

  width: fit-content;
   
  left: 30vw;
  position: relative;
  background-color: #333131;
  text-align: center;

    padding-top: 2vh;
 
    padding-bottom: 2vh;

  
    padding-left: 1vw;
    padding-right: 1vw;
  
 
}

