
.system-configurations__input {
    display: block;
    position: relative;  
    background-color: var(--classy-black);
 
    border: 1px solid rgb(165, 163, 163);
    border-right: 0;
    border-left: 0;
    color: var(--pretty-green);
    font-size: 3vmax;
 
}


.system-configurations__input:hover {

    border: 1px solid rgb(92, 91, 91);
    border-right: 0;
    border-left: 0;
}


.system-configurations__input--closed {
    animation: close-input 4s forwards;
    
}


@keyframes close-input {
    
    
    100% {
        margin-left: -150vw; 
    
    }
}



