
 

.header__button
{
 
  transition: 0.45s;

  text-transform:capitalize;

  display: block;
text-align: left;
padding-right:0.1vw;
  font-size: 1.7vmax;
  color: #83e490;
 
  padding-left: 4vw; 
  padding-bottom: 2vh;

  text-decoration: none;
}

.header__button:hover
{  
  color: #00ff22;
 
}


.header__button::before {
     content: ""; 
    width: 2.4vmax;
    height: 2.4vmax; 
    position: absolute; 
    margin-left: -3vmax;
  
}


.header__button--folder::before {
    background:url('../res/header_icons/folder_icon.png');  
    background-size:contain;
    background-repeat: no-repeat;
  }


.header__button--profile::before {
   
    background:url('../res/header_icons/profile_icon.png');
    background-size:contain;
    background-repeat: no-repeat;
  }
  
.header__button--contact::before {

    background:url('../res/header_icons/contact_icon.png');
  background-size:contain;
    background-repeat: no-repeat;
    
  }
  
  