
:root {

  --rich_black_fogra_39: rgb(45, 41, 54);
--super_pink: rgb(90, 219, 112);
--greeny: #7FC29B;
--highlight_greeny: #0dbb55;
--mandarin: #ef8354ff;
--visible_gray: rgb(105, 105, 105);
--ash_gray: #cbd4c2ff;



--main: #479651;
--secundary: #8154d4;

--darky: #242121;

--background: rgba(16, 19, 18, 0.945);


}


body
{

  background-color: var(--background);

}

 

header
{
  display: block;
  position: fixed ;
  overflow: hidden;
  border-color: var(--visible_gray);
  border-width: 1vh;
  width: 100vw;
  height: 8vh;
  margin-right: 25vw;
  z-index: 2;

  background-color: var(--darky);
}


section
{
  margin-top: 10vh;
}


.project_element
{
  width: 20vw;
  border-radius: 10%;
  height: 20vw; 
  
    transition: 1s;
}


.folder_button
{
  font-size: 2rem;
  border-color: #0dbb55;
  text-decoration: none;
  border-radius: 0%;
}
 

.about_me
{
  padding: 5px;
  margin: 20px;
  clear: both;
}
 

.header_element
{
  background-color: transparent;
  border: 0;
  
  vertical-align: top;
  text-align: top;
  margin-right: 3.5vw;
  font-weight: bold;
  margin-bottom: 3vh;
font-size: 1.2rem;
  color: var(--ash_gray); 
  transition: color all ease-in-out 1s;
}

.header_text
{
  font-size: 1rem;
  margin-right: 3vw;
  color: var(--super_pink);
 
}


.header_button
{

  text-decoration: none;
}


.header_button:hover
{

  color: var(--highlight_greeny);
}
 

.inicial_area
{
  
}

.main_text
{
  text-align: center;

  padding-top: 7vh;
  font-size: 12vw;
  text-shadow: 0 0 7px var(--secundary);
  color:var(--super_pink);
  animation: text_increase 1s ease-in-out forwards;
  

}


@keyframes text_increase 
{
  0%
  {
    font-size: 0; 
    top:4vw;
  }

  95%
  {
    font-size: 12vw;
    top:0vw; 
  }

  100%
  {
     
   /* border-radius: 180px;*/
  
  }


}

.animation_text
{
  position: relative;
  
  left: 0%;
}

.media_image
{
  width:4vw;
  visibility: visible;
  height:4vw;
}

 .presentation_text
 {
  text-align: center;
  font-size: 3vw;
  color: var(--super_pink);
  text-shadow: 0 0 4px rgb(173, 25, 154)  ;
  -webkit-text-stroke: 0.5px var(--secundary);
  animation: typing 4s;
 }
 


.holder
{ 
  width:63vw; 
  height: fit-content;
  margin-left: 1vw;  
  margin-right: 1vw; 
  float: left;
  
}

.size_anim
{
  animation: size_anim 1s ease-in-out forwards;
}

@keyframes size_anim {
  0%
  {
    width:0;
  height:0;
  }
  100%
  {
    width:60vw;
    height:20vw;
  }
}

.language_list
{
  padding-left: 20%;

 

}

.holder::-webkit-scrollbar {
  width: 0px; 
}


.projects
{
  display: block;
  margin: 1%;
}


.language_text
{

  clear: left;
  text-align: center;
  color:transparent;
  font-size: 7vw;
  color: var(--secundary);


  margin-bottom: 1.4vh;

  text-transform: capitalize;
  pointer-events: none;

}

.animated_language_text
{
  color: var(--secundary);

  animation: language_text_anim 1s ease-in-out; 



}

@keyframes language_text_anim {
  0%
  {
    clip-path: polygon(9% 98%, 89% 98%, 100% 100%, 0 100%);
  }
  70%
  {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

 


}

.direction_button
{
  float:left;
  height:20vw;
  width:2vw;
  opacity: 1;
  font-size: 8vw;
  transition:1s ease-in-out;
  color:rgba(0240, 248, 255, 0);
  background-color: var(--rich_black_fogra_39);
}


.direction_button:hover
{
 width: 7vw;
color: var(--highlight_greeny);
  
}


.left_button:hover
{
 margin-left: -5.5vw;
  
  
}


.right_button:hover
{
margin-left: 1vw;
}


@keyframes button_appear {
  100%
  {
    opacity: 1;
  }
  
}

.additional_image
{
  
  transform: translate(-100%, 0%);
  position: absolute;
  transition: 0s;
  
  -webkit-filter: brightness(0);
  z-index: -2;
}


 

.project
{
  transition: 1s;

  width: 19vw;
  /*margin-right: 1vw;
*/
  display: inline;

}

.project_details
{
  display: inline;
  position: relative;
  width: 19vw;
  z-index: -1;
  text-align: center;
}

.project_text
{
    color:var(--mandarin);
    
/*    position:absolute;
    top: 30%;
  left: 0%;
  transform: translate(-150%, -90%);
  */
  
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5vw;

  pointer-events: none; 
}



.project_main_text
{ 
  font-size: 6em;
  
  color: var(--super_pink);
  height: 1em;
}


@keyframes show {
  100%
  {
    width: 30vw;
  }
}

.project_button
{
  position:absolute;
  top: -20%;
  left: 25%;
  transform: translate(-50%, -100%);
  width: 8.6vw;
  height: 3vw;
  font-size: 1.2vw;
  background-color: var(--greeny);
  transition: 0.5s;
  color:var(--ash-gray);
  border-radius: 50%;

    text-align: center;
}
 
.project_image:hover
{
  opacity: 0.1;
}

.link_button
{
  position:absolute;
  left: 60%;
  transform: translate(-18%, -50%);
  width: 7vw;
  font-size: 1.5vw;

}

.project_button:hover
{
  box-shadow: 0 0 10px rgb(18, 122, 6) , 0 0 40px rgb(38, 122, 65), 0 0 80px rgb(58, 122, 35);
  background-color: rgb(78, 122, 35);

  
  transition: 0.5s;
}



.contacts
{
  margin-top: 80vh;
  
}


footer
{ 

z-index: -1;
 width:100%;
 height: 35vh;

  background-color: var(--rich_black_fogra_39); 

  text-align: center;

}

.contact_form
{
  float: left;
  justify-self: right;
  margin-top: 3vh;
}

.contact_buttons
{
  margin-left: 15vh;
  float: left;
}



.contact_button
{
  
  background-size: cover;
  margin-left: 3vw;
  border-radius: 90px;
  visibility: hidden;

}

.contacts_text
{
  margin-left: auto;
  margin-right: auto;
}
